<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">GRUPO DANONE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" mode="ios">
  <div class="content">

    <ion-label class="title">
      <h1>Iniciar sesión</h1>
    </ion-label>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <div class="button-container">
      <ion-button expand="full" shape="round" (click)="login()">Iniciar sesión</ion-button>
    </div>

    <div class="footer">
      <p>¿Aún no tienes cuenta? <a routerLink="/register">Registrate</a></p>
    </div>
  </div>
</ion-content>