.container {
    margin-top: 5vh;
}
.product {
    text-align: center;
    width: 90%;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

@media(min-width: 750px) {
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
}