.select {
  justify-items: center;
}

.product {
  text-align: center;
  width: 90%;
}

.empty-cart-message {
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}