.container {
  ion-img {
    margin: 10vh 5vw 2.5vh;
  }

  ion-img::part(image) {
    border-radius: 10px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media(min-width: 750px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin: auto;
    margin-top: 5vh;

    ion-img {
      height: 20%;
    }

  }
}